PORT=5001
JWT_EXPIRES_IN = 1d
JWT_SECRET = 57fa71d89fc5622338167341813c62fc2702393f4dc617555ba6ad66c421331d263077a45bbca69ce3d9466688fbd97e1f857d0ddd9935410aaf4a7a02cb4466
MONGO_URI = mongodb+srv://srinivas:thisisasecret@cluster0.pll6b.mongodb.net/bus_journey

CLOUDINARY_API_SECRET = 2wnsTxnf5VXalIx7gdVV6bpqpQM
CLOUDINARY_API_KEY = 223968496635784
CLOUDINARY_CLOUD_NAME = dakda5ni3

FRONTEND_URL=http://localhost:3000
ADMIN_PANEL_URL=http://localhost:3001
APP_NAME=Bus Journey

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=srinivas72075@gmail.com
SMTP_PASS=zqyxvoymiqiwnroe
EMAIL_FROM=srinivas72075@gmail.com
